.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: cadetblue;
    .logo-container {
        height: 100%;
        width: 70px;
        overflow: hidden;
        text-align: center;
        margin-top: 10px;
    }
    .options {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
       
        .option {
            padding: 5px 10px;
            font-size: 15px;
            cursor: pointer;
        }
    }
}